*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Oswald, Arial;
    text-decoration: none;
}

/* Estilos programa */

.box{
    width: 90%;
    display: inline-block;
    margin-left: 2%;
    border: 1px solid black;
    text-decoration: none;
}
            
.box h4{
    text-align: center;
}

#tituloPrograma{
    text-align: center;
    color: red;
}
#logo{
    width: 150px;
}

#wrap{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

/* Estilos reloj */
            


.wrap{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.widget{
    width: 100%;
    margin: 0 auto;
    
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha{
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    margin-bottom: 5px;
    background: rgba(0,0,0,.5);
    padding: 20px;
    width: 100%;
}

.reloj{
    font-family: Oswald, Arial;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0,0,0,.5);
}

.reloj .caja-segundos{
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}

